replicaCount: 2

env: dev

image:
  repository: asia-southeast2-docker.pkg.dev/amartha-ewallet-dev-370304/docker/go-accounting
  pullPolicy: IfNotPresent
  tag: ""

serviceAccount:
  create: true
  annotations:
    iam.gke.io/gcp-service-account: go-accounting-api@amartha-ewallet-dev-370304.iam.gserviceaccount.com
  name: go-accounting-api

readinessProbe:
  failureThreshold: 10
  httpGet:
    path: /api/health/readiness
    port: 8080
    scheme: HTTP
  initialDelaySeconds: 10
  periodSeconds: 10
  successThreshold: 1
  timeoutSeconds: 10

service:
  type: ClusterIP
  port: 8080

ingress:
  enabled: true
  className: ""
  annotations:
    kubernetes.io/ingress.class: nginx
    nginx.ingress.kubernetes.io/proxy-body-size: "201m"
  hosts:
    - host: go-accounting-dev.amartha.id
      paths:
        - path: /
          pathType: ImplementationSpecific
  # tls: 
  #  - secretName: amartha-id
  #    hosts:
  #      - go-accounting-dev.amartha.id

resources:
  limits:
    cpu: 200m
    memory: 300Mi
  requests:
    cpu: 100m
    memory: 200Mi

podAnnotations:
  prometheus.io/scrape: "true"
  prometheus.io/port: "8080"
  prometheus.io/path: "/metrics"

volumeMounts:
  - name: secret-volume
    mountPath: /opt/Amartha/config
    readOnly: true

volumes:
  - name: secret-volume
    secret:
      secretName: go-accounting-api-vault-service

vault:
  enabled: true
  auth:
    method: "kubernetes"
    kubernetes:
      role: go-accounting-api
      serviceAccount: go-accounting-api
  secrets:
    service:
      secretPath: apps/core-finance-platform/GO_ACCOUNTING